<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/page2.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <header class="tiC-header">
        <div class="tiC_1">
            <img src="../images/1.png" alt="" id="_headerImg">
            <span>老虎会员的体测报告</span>
        </div>
        <div class="tiC_2">
            <p id="time_tiC">2017/1/11 2:00</p>
            <p id="name_tiC">RR国际健身中心</p>
        </div>
    </header>
    <div class="tiC_main">
        <ul class="_mainUl">
            <li class="_mainli1">
                <p><img class="_mainUlImg" src="../images/tiC_1.png" alt=""></p>
                <p>身高</p>
                <p>175cm</p>
            </li>
            <li class="_mainli1">
                <p><img class="_mainUlImg" src="../images/tiC_2.png" alt=""></p>
                <p>体重</p>
                <p>65kg</p>
            </li>
            <li class="_mainli2">
                <div class="li_tiao">
                    <p><span> </span><span> </span><span> </span></p>
                    <p><span>BMI:25.6</span></p>
                </div>
            </li>
            <li class="_mainli1">
                <p><img class="_mainUlImg" src="../images/tiC_3.png" alt=""></p>
                <p>身体成份</p>
            </li>
            <li class="_mainli3">
                <ul>
                    <li><p>脂肪</p><p>22.6kg</p><p>16.8%<span>偏高</span></p></li>
                    <li><p>去脂体重</p><p>22.6kg</p><p>16.8%<span>偏高</span></p></li>
                    <li><p>骨骼肌</p><p>22.6kg</p><p>16.8%<span>偏高</span></p></li>
                </ul>
            </li>
            <li class="_mainli4">
                <p>体重</p>
                <p><img src="../images/tu.png" alt=""></p>
                <p><span>脂肪</span><span>骨骼肌</span></p>
                <div>标准体重/肥胖型</div>
            </li>
            <li class="_mainli1">
                <p><img class="_mainUlImg" src="../images/tiC_4.png" alt=""></p>
                <p>基础代谢</p>
                <p>1637kcal<span>达标</span></p>
            </li>
            <li class="_mainli1">
                <p><img class="_mainUlImg" src="../images/tiC_5.png" alt=""></p>
                <p>腰臀比</p>
                <p>0.85<span>达标</span></p>
            </li>
        </ul>
        <div class="_mainUl1"></div>
    </div>

</body>
<!--<script src="../js/jquery-3.1.1.min.js"></script>-->
<script src="../js/common.js"></script>
</html>